{% extends "basePi.html" %}
{% block content %}
{% load static %}
<center>
<h1>Pizzeria la Michoacana</h1>
<table>
    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th>Tamaño</th>
                <th>Sabores</th>
                <th>Cantidad</th>
                <th>Costo</th>
            </tr>
            {% for n in Pizzeria %}
            <tr class="table-info"> 
                <td>{{n.tamanoPi}}</td>
                <td>{{n.saboresPi}}</td>
                <td>{{n.cantidadPi}}</td>
                <td>{{n.costoPi}}</td>

                <td>
                <td><button id="{{n.id}}" onclick="location.href='/actualizarPi/{{n.id}}'"
                    class="btn btn-outline-info">Actualizar</button></td>
                <td><button id="{{n.id}}" onclick="location.href='/eliminarPi/{{n.id}}'"
                        class="btn btn-outline-danger">Eliminar</button></td>
                </td>
            </tr>
            {% endfor %}
    </table>
    </tbody>
    <div style="display:flex;align-items:center;justify-content:center;flex-direction:column">
        <button onclick="location.href='/agregarPi'" class="btn btn-warning">Agregar</button>
    </div>
</table>
</center>
{% endblock content %}